:root {
    --line: #ffffff;
    --accent: #00ff88;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid var(--line);
    padding: 10px 5px;
    font-size: 15px;
    outline: none;
    background: transparent;
    color: rgb(240, 248, 255);
    transition: all 0.2s ease;
}

.input-group label {
    position: absolute;
    left: 5px;
    top: 10px;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
    pointer-events: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -10px;
    font-size: 12px;
    color: var(--accent);
}

.input-group input:focus {
    border-bottom: 2px solid var(--accent);
}

body {
    background-color: #050511;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

form {
    color: rgb(240, 248, 255);
    position: relative;
    width: fit-content;
}

h1 {
    color: rgb(240, 248, 255);
    margin-bottom: 20px;
    text-align: center;
}

button.btn {
    width: 100%;
    margin:  10px 0 10px 0;
    background-color: rgb(70, 66, 19) !important;
    border-color: rgb(192, 192, 25) !important;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

i {
    font-size: 24px;
    color: rgb(240, 248, 255) !important;
    cursor: pointer;
}

p {
    color: rgb(240, 248, 255);
    text-align: center;
}

a {
    color: rgb(254, 255, 186);
    text-align: center;
    text-decoration: none;
}

.vlt {
    position: absolute;
    top: 25px;
    left: 35px;
    font-size: 24px;
    color: rgb(240, 248, 255);
    cursor: pointer;
}

.spinning-circle {
    position: fixed;
    top: -450px;
    right: -350px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    animation: spin 50s linear infinite;
    z-index: 9999;
    pointer-events: none;
    box-shadow: 0 0 20px #1d113f;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
